:root {
  --white: #ffffff;
  --soft-grey: #f5f5f5;
  --black: #000000;
  --muted-pink: #f1d8db;
  --muted-blue: #dbd2cc;
  --mint-green: #c0b5b9;
  --charcoal-grey: #333333;
  --beige: #def4fc;
  --primaryColor: #c20d84;
  --accentColor: #c20d84;
  --backgroundColor: #c20d84;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  list-style-type: none;
  scroll-behavior: smooth;
  font-family: "roboto";
}

html {
  font-size: 60%;
  overflow-x: hidden;
}
